html {
  font-family: cursive, Arial, Helvetica, sans-serif;
}

body {
  background-image: url('./lit.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h4 {
  font-weight: 400;
  color: grey;
}

.modal-footer .btn {
  margin: 46px 16px;
  border-radius: 25px;
  text-align: center;
}
.modal {
  border: 2px solid blue;
}
.modal .modal-footer {
  background: #272727;
  height: 114px;
}
.collection {
  margin: 9.5rem 0 0rem 0;
}

.modal .modal-content {
  text-align: center;
  background: #272727;
}

input[type=text]{
  color: #fff;
}